Pandas is a package that helps Data scientists manage tabular data. The package comes with two type of data structures, series and data frame. A series is very similar to a 1D numpy array, while a data frame is similar to a database table, yet in memory

In [31]:
import pandas as pd
import numpy as np


# Creating empty series
ser = pd.Series()

print(ser)

# simple array
data = np.array(['h', 'e', 'l', 'l', 'o'])

ser = pd.Series(data)
print(ser)

Series([], dtype: float64)
0    h
1    e
2    l
3    l
4    o
dtype: object

C:\Users\sachi\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [33]:
import pandas as pd

# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18],
        'S.No':np.arange(4)}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age  S.No
0    Tom   20     0
1   nick   21     1
2  krish   19     2
3   jack   18     3

In [34]:
df['Name']

0      Tom
1     nick
2    krish
3     jack
Name: Name, dtype: object

In [35]:
df['Name'][0]

'Tom'